iframe {
	margin: 0;
	padding: 0;
	border: none;
}
section {
	margin: 5%;
}
.alertbox {
	margin: 1%;
	padding: 12px;
	vertical-align: middle;
}
.warning {
    color: #082213;
    background-color: #FEEFB3;
}
.information {
    color: #082213;
    background-color: #BDE5F8;
}
.markdown-section img {
    border: solid black 1px;
    max-width: 70%;
    margin: auto;
    display: block;
}