iframe {
	margin: 0;
	padding: 0;
	border: none;
}
section {
	margin: 5%;
}
.alert {
	margin: 1%;
	padding: 12px;
	vertical-align: middle;
}
.warning {
    color: #082213;
    background-color: #FEEFB3;
}
.information {
    color: #082213;
    background-color: #BDE5F8;
}